#weather-section {
    height: 100px;
    border: 1px solid black;
}

#map-container {
    height: 600px;
    border: 1px solid black;
}

#popup-container {
    min-height: 100px;
    border: 1px solid black;
}

header {
    text-align: justify;
    height: 100px;
    border: 1px solid black;
}


